<div class="card resources">
  <div class="card-body">
    <h5 class="card-title">Resources</h5>
    <button type="button" class="btn btn-primary" (click)="addGold()">50 Gold</button>
    <button type="button" class="btn btn-primary" (click)="addGrog()">50 Grog</button>

    <p>💰 Gold: {{resources.getGold()}} <small>(income/sec: {{resources.goldPerSec}})</small></p>
    <div class="card-text border">
      <p>Storage limit {{resources.usedStorage}} / {{resources.totalStorage}}</p>
      <p *ngFor="let resource of resources.resources">
          {{resource.name}}: {{resource.amount}}
      </p>
    </div>
  </div>
</div>
