<div class="card resources">
  <div class="card-body">
    <h5 class="card-title">Resources</h5>
    <button type="button" class="btn btn-primary" (click)="addGold()">50 Gold</button>
    <button type="button" class="btn btn-primary" (click)="addGrog()">50 Grog</button>

    <div class="card-text border">
      <p>💰 Gold: {{resources.getGold()}} <small>(income/sec: {{resources.goldPerSec}})</small></p>
      <p>🍺 Grog: {{resources.getGrog()}}/{{resources.grogLimit}} <small>(income/sec: {{resources.grogPerSec}})</small></p>

      <div *ngIf="buildingService.hasBuilding(5)"> <!-- Trading house -->
        Other:
        <p *ngFor="let resource of resources.miscResources">
            {{resource.name}}: {{resource.amount}}
        </p>
      </div>
    </div>
  </div>
</div>
