<div class="container">
  <div style="text-align:center">
    <h1>

    </h1>
  </div>

  <resources></resources>

  <button type="button" class="btn btn-primary" (click)="addGold()">Add gold</button>

  <button type="button" class="btn btn-primary" [disabled]="!resources.hasGold(50)" (click)="buildShip()">Build ship (50g)</button>

  <ul>
    <li *ngFor="let ship of ships">
      <app-ship></app-ship>
    </li>
  </ul>

  <h4>Jobs</h4>
  <ul>
    <li *ngFor="let job of jobs.jobs">
      <jobs [data]="job"></jobs>
    </li>
  </ul>
</div>
