<div class="col-lg-12">
    <div class="buildings-container">
      <h4>Owned buildings</h4>
      <div class="row">
        <div *ngFor="let building of ownedBuildings">
          <app-building [template]="building"></app-building>
        </div>
      </div>
    </div>
  <div class="buildings-container">
    <h4>Buildings</h4>
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let b of buildings">
            <p>{{b.name}}</p>
            <p>{{b.desc}}</p>
            <span class="badge badge-warning">{{b.requirements.gold}}g</span>
            <button type="button" class="btn btn-primary" *ngIf="requirementsMet(b)" (click)="onBuild(b)">Build</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ship-container" *ngIf="buildingService.hasFeature('Seafaring')">
    <h4>Ships</h4>
    <div class="row">
      <div class="col-3">
        <div class="card build-option ship">
          <div class="card-body">
            <h5 class="card-title">Brig <span class="badge badge-warning">50g</span></h5>
            <p class="card-text">
              A ship used for "trading"
            </p>
            <button type="button" class="btn btn-primary" [disabled]="!resources.hasGold(50)" (click)="buildShip()">Build</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
