<div class="card ship-card">
  <div class="card-body">
    <h5 class="card-title">Brig no.{{data.id+1}}</h5>
    <p class="card-text">
      <span>Send this ship to a discovered destination to earn gold.</span><br>
      <button type="button" class="btn btn-primary" *ngIf="!sailing"  [disabled]="!resources.hasGrog(10)" (click)="sendShip()">Trade (-10🍺)</button>
    </p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" id="pbar{{data.id}}" style="width:0%" role="progressbar" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>